:root {
  --color-highlight: #d80f2c;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fafaf7;
    --color-text: #05010b;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #05010b;
    --color-text: #fafaf7;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  margin: 0;
}