.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1024px;
  z-index: 2;
  margin: 0 auto;
  position: relative;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  background: var(--color-background)
}