.content {
  padding: 1rem;
}

.clientImg_billboard {
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  padding: 0;
  max-width: calc(100vw - 3rem);
}

@media screen and (min-width: 768px) {
  .content {
    padding: 1rem;
  }
}