.clientImg {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.clientImg img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.articles {
  list-style: none;
  padding: 0;
  margin: 0;
}